{{>header}}

<p>Login</p>
<form method="POST" action="/" role="form">
    <div>
        <label for="email" >Email</label>
        <input type="email" name="email" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" name="password" />
    </div>
    
    <button type="submit">Submit</button>
</form>